@model IEnumerable<projetoAPPLivraria.Models.Autor>

@{
    ViewData["Title"] = "Lista de usuários";
}

<h1>Index</h1>

<p>
    <a asp-action="CadAutor">Adicionar novo autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refstatus.nomeStatus)
            </td>
            <td>
                @Html.ActionLink("Editar", "editAutor", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
