@model IEnumerable<projetoAPPLivraria.Models.Livro>

@{
    ViewData["Title"] = "Lista de livros";
}

<h1>Lista de livros</h1>

<p>
    <a asp-action="cadLivro">Adicionar novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefAutor.nomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeLivro)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefAutor.nomeAutor)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeLivro)
                </td>
            <td>
                @Html.ActionLink("Editar", "editarLivro", new {  id=item.codLivro  }) |
                <!--@Html.ActionLink("Detalhar", "Details", new { /* id=item.PrimaryKey */ }) | -->
                @Html.ActionLink("Excluir", "Delete", new {  id=item.codLivro  }, 
                new {onclick = "return confirm('Deseja REALMENTE excluir este item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
