@model IEnumerable<projetoAPPLivraria.Models.Status>

@{
    ViewData["Title"] = "- Status";
}

<h1>Status</h1>
@if (TempData["mensagemErro"] != null)
{
    <div class="field-error" style="color:red;">
        <h4>@TempData["mensagemErro"]</h4>
    </div>
}


<p>
    <a asp-action="cadStatus">Adicionar status</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeStatus)
            </td>
            <td>
                    @Html.ActionLink("Editar", "atualizarStatus", new {  id=item.codStatus  }) |
                    @Html.ActionLink("Excluir", "deleteAutor", new { id = item.codStatus },
                             new { onclick = "return confirm('Deseja REALMENTE excluir este status?');" })
            </td>
        </tr>
}
    </tbody>
</table>
